//- Slider template

mixin slider(baseClass = 'slider', options='', showSlidenav = false)
	div(class=`${baseClass}` data-uk-slider=options)&attributes(attributes)
		.uk-slider-container(class=`${baseClass}-container`) 
			ul.uk-slider-items(class=`${baseClass}-items`) 
				block

		+slider-dotnav(class=`${baseClass}-dotnav`) 
		if showSlidenav
			+slider-slidenav.d-none.d-xl-flex


//- DOTNAV

mixin slider-dotnav
	ul.dotnav.uk-slider-nav&attributes(attributes)

mixin slideshow-dotnav
	ul.dotnav.uk-slideshow-nav&attributes(attributes)


//- SLIDENAV

mixin slider-slidenav
	ul.slidenav&attributes(attributes)
		li.slidenav__item(data-uk-slider-item="previous")
			a.slidenav__link.slidenav__link--prev(href="#")
				+icon('angle-slider-left').slidenav__icon
		li.slidenav__item(data-uk-slider-item="next")
			a.slidenav__link.slidenav__link--next(href="#")
				+icon('angle-slider-right').slidenav__icon

mixin slideshow-slidenav
	ul.slidenav&attributes(attributes)
		li.slidenav__item(data-uk-slideshow-item="previous")
			a.slidenav__link.slidenav__link--prev(href="#")
				+icon('angle-left').slidenav__icon
		li.slidenav__item(data-uk-slideshow-item="next")
			a.slidenav__link.slidenav__link--next(href="#")
				+icon('angle-right').slidenav__icon

//- THUBMNAV

mixin slider-thumbnav(length, imgSrc = `${assets}slider-thumb-img-`)
	ul.thumbnav&attributes(attributes)
		if block 
			block 
		else
			- for (var i = 0; i < length; i++)
				li.thumbnav__item(data-uk-slider-item=i)
					a.thumbnav__link.ibg(href="#")
						+picture(jpg, `${imgSrc}${i + 1}`, 'n')

mixin slideshow-thumbnav(length, imgSrc = `${assets}slider-thumb-img-`)
	ul.thumbnav&attributes(attributes)
		if block 
			block 
		else
			- for (var i = 0; i < length; i++)
				li.thumbnav__item(data-uk-slideshow-item=i)
					a.thumbnav__link.ibg(href="#")
						+picture(jpg, `${imgSrc}${i + 1}`, 'n')

