extends modules/layout/_layout

prepend head
	title Title your page
	meta(name="description", content="Описание страницы")

block content
	main.main
		section.s1 
			.s1__bg
				+picture-min(jpg, `${assets}s1-bg`, `${assets}s1-bg`, 'xsml')
			.container.s1__ctn
				+picture-min(png, `${assets}s1-man`, `${assets}s1-man`, 'n').s1__img-man
				.s1__circle
				.s1__man-name Константин #[br]Курышев
				.s1__man-position Специалист по рекламе#[br] в Instagram и Facebook

				h1.s1__title Целевые клиенты в&nbsp;ваш&nbsp;бизнес
				p.s1__subtitle Начните получать целевой и стабильный поток заявок от 60₽ в ваш бизнес с помошью таргетированной рекламы

				.s1__target-block
					.s1__target-gradient Запишитесь на бесплатную консультацию,
					.s1__target-text на которой мы разберем рекламную кампанию и стратегию продвижения вашего бизнеса
					button.s1__target-btn.btn.btn-solid-primary Записаться

				+picture(png, `${assets}s1-botgr`, 'xsml').s1__botgr

				.s1__numbers-block
					.s1__numbers-item
						.s1__numbers-lg 2 Года
						.s1__numbers-descr практического опыта
					.s1__numbers-item
						.s1__numbers-lg #[span.s1__numbers-lg--sm до] 10раз
						.s1__numbers-descr окупамемость затрат

		section.s2 
			.container.s2__ctn 
				h2.s2__title Еще немного фактов и&nbsp;цифр обо мне и&nbsp;деятельности

				.s2__list 
					.s2__list-item
						img(src=`${assets}s2-i1.svg`, alt="").s2__list-before
						.s2__list-title 20 проектов
						.s2__list-descr реализовано в разных нишах
					.s2__list-item
						img(src=`${assets}s2-i2.svg`, alt="").s2__list-before
						.s2__list-title от 60 ₽
						.s2__list-descr стоимость заявки
					.s2__list-item
						img(src=`${assets}s2-i3.svg`, alt="").s2__list-before
						.s2__list-title более 4млн. ₽
						.s2__list-descr рекламного бюджета доверено
					.s2__list-item
						img(src=`${assets}s2-i4.svg`, alt="").s2__list-before
						.s2__list-title более 6 мес.
						.s2__list-descr в среднем работают со&nbsp;мной

				.s2__chart-block
					.s2__chart-ibg
						+picture(jpg, `${assets}s2-bg-block`, 'xsml')
					.s2__chart-title В команде есть дизайнер и копирайтер
					.s2__chart-descr Качественно проработанный&nbsp;креатив — один из важнейших этапов для получения целевых заявок. 
					+icon('chart-gradient').s2__chart-svg

		section.s3 
			.s3__bg
				+picture(jpg, `${assets}s3-bg`, 'xsml')
			.container.s3__ctn 
				h2.s3__title Посмотрите креативы, которые мы делаем с&nbsp;командой:

				+slider('s3__slider')
					- for(var i = 1; i <= 6; i++)
						li.s3__slider-item
							+icon('phone-mask').s3__slider-item-phone

							.s3__slider-item-image
								+picture(jpg, `${assets}s3-i${i}`, 'n')

				button.btn.btn-solid-primary Оставить заявку

		section.s4 
			.container.s4__ctn 
				h2.s4__title С каждым днём на рынке появляется всё больше таргетологов.
				p.s4__subtitle Многие из них в процессе работы оказываются некомпетентны или не выполняют свои обязательства

				.s4__block.s4__block-1
					.s4__block-title Возможно, вам знакомы ситуации, когда:
					ul.s4__block-list 
						li Таргетолог долго не выходит на связь, исчезает
						li Вам приходится контролировать его работу и тратить своё время
						li Нет отчётности: количество заявок, их цена и окупаемость ваших вложений
						li Реклама не дает тех результатов, на которые вы изначально рассчитывали
					+picture-min(png, `${assets}s4-i1`, `${assets}s4-i1`, 'xs').s4__block-image.s4__block-image-1

				.s4__block.s4__block-2
					.s4__block-title.s4__block-title-2 В итоге вы нервничаете и&nbsp;не знаете, что делать
					ul.s4__block-list.s4__block-list-2 
						li Чтобы минимизировать риск нарваться на&nbsp;подобные ситуации, вы обращаетесь к&nbsp;вашим знакомым, которые могут порекомендовать хорошего специалиста
						li Но если такой возможности не предоставляется, вам приходится искать нового специалиста самостоятельно
						li Из-за чего перед вами встает вопрос: какого специалиста выбрать, чтобы он качественно предоставил услугу и не обманул вас
					+picture-min(png, `${assets}s4-i2`, `${assets}s4-i2`, 'xs').s4__block-image.s4__block-image-2

		section.s5 
			.s5__ctn.container
				h2.s5__title Почему стоит рассмотреть меня в качестве специалиста?

				.s5__items-wrap
					.s5__item 
						+icon('script').s5__item-icon
						.s5__item-title ИП, работаю#[br] по договору
						.s5__item-descr Оплату можно произвести безналичным платежом с вашего расчетного счета
						
					.s5__item 
						+icon('web-rocket').s5__item-icon
						.s5__item-title Скорость
						.s5__item-descr Настраиваю и запускаю рекламную кампанию за 5 дней с момента оплаты

					.s5__item 
						+icon('honesty').s5__item-icon
						.s5__item-title Честность
						.s5__item-descr Если на этапе переговоров я пойму, что работа с таргет рекламой не сможет закрыть вашу задачу, я открыто скажу об этом и предложу другой вариант её решения на основе своего опыта

					.s5__item 
						+icon('reports').s5__item-icon
						.s5__item-title Отчёты
						.s5__item-descr Предоставляю ежедневную, еженедельную и ежемесячную аналитику ведения рекламы. Все материалы и информация о работе останутся у вас даже после окончания сотрудничества

					.s5__item 
						+icon('unit-economy').s5__item-icon
						.s5__item-title Unit-#[br]экономика
						.s5__item-descr Считаю и анализирую самый главный показатель - окупаемость рекламной кампании, чтобы вы точно знали, сколько потратили на привлечениека ждого пользователя и сколько с него заработали
					
				+picture(png, `${assets}s5-botimg`, 'xsml').s5__bottom-img


		section.s6
			+picture(jpg, `${assets}s6-bg`, 'xsml').s6__bg 
			.s6__ctn.container
				.s6__quality-block
					h2.s6__quality-title Качество контента
					p.s6__quality-subtitle Мы предоставляем стильный дизайн креативов с проработанными текстами на основе болей и потребностей вашей аудитории, что позволяет добиться более высокой эффективности

					+slider('s6__quality-slider')
						- for(var i = 1; i <= 4; i++)
							li.s6__quality-slider-item
								+picture(jpg, `${assets}s6-content-i1`, 'n')
				
					button.btn.btn-solid-primary Оставить заявку


				h2.s6__projects-title 
					span.s6__proj-title-1 Клиентские проекты, 
					span.s6__proj-title-2 с 
					span которыми мы работаем более 6 месяцев:

				+slider('s6__projects-slider')
					- for(var i = 1; i <= 7; i++)
						li.s6__projects-slider-item

		section.s7 
			.s7__ctn.container
				h2.s7__title Больше за меня скажут мои клиенты:

				+slider('s7__slider')
					- for(var i = 1; i <= 4; i++)
						li.s7__slider-item
							+icon('phone-mask').s7__slider-item-phone

							.s7__slider-item-image
								+picture(jpg, `${assets}s7-projects-i${i}`, 'n')

							+icon('yt-play').s7__slider-item-play

		section.s8 
			.s8__ctn.container 
				h2.s8__title Последовательность действий в начале сотрудничества

				-
					var list = [
						{
							number: '01',
							dayText: 'день',
							title: 'Проведение интервью и&nbsp;его перевод в&nbsp;документ',
							list: null
						},
						{
							number: '02',
							dayText: 'день',
							title: 'Исследование ваших конкурентов',
							list: [
								'Проработка портрета и&nbsp;поведения вашей целевой аудитории',
								'Построение стратегии воронки продаж',
							]
						},
						{
							number: '04',
							dayText: 'день',
							title: 'Создание и проработка текстов под аудиторию',
							list: null
						},
						{
							number: '05',
							dayText: 'день',
							title: 'Согласование готовых материалов для запуска рекламы',
							list: [
								'Настройка рекламного кабинета',
								'Подключение всех сервисов и ссылок',
								'Запуск рекламной кампании',
							]
						},
						{
							number: '06',
							dayText: 'день',
							title: 'Получение первых заявок',
							list: [
								'Тестируем рекламную кампанию',
								'Оптимизируем аудитории',
							]
						},
						{
							number: 'с14',
							dayText: 'дня',
							title: 'Привлекаем качественные и&nbsp;регулярные заявки по&nbsp;минимальной цене',
							list: null
						},
					]

				.s8__scrollable-block
					each item, idx in list
						.s8__item
							.s8__item-left
								.s8__item-number= item.number
								.s8__item-day-text= item.dayText
							.s8__item-right
								.s8__item-title!= item.title 
								if item.list
									ul.s8__item-list
										each listItem in item.list 
											li!= listItem

		section.s9 
			.container.s9__ctn 
				+picture-min(jpg, `${assets}s9-bg`, `${assets}s9-bg`, 'xsmlb').s9__bg

				.s9__conditions-block
					h2.s9__title Условия нашего сотрудничества

					.s9__conditions-list
						.s9__conditions-item
							+icon('duration').s9__conditions-icon
							.s9__conditions-text Длительность#[br] #[span.s9__conditions-text--underline 1 месяц]
						.s9__conditions-item
							+icon('30k').s9__conditions-icon
							.s9__conditions-text Рекламный бюджет #[span.s9__conditions-text--underline от 30 000 ₽ / месяц]
						.s9__conditions-item
							+icon('eye').s9__conditions-icon
							.s9__conditions-text Креативы #[span.s9__conditions-text--underline включены в&nbsp;стоимость услуг]
						.s9__conditions-item
							+icon('30circle').s9__conditions-icon
							.s9__conditions-text Стоимость#[br] #[span.s9__conditions-text--underline 30 000 ₽ / месяц]
						.s9__conditions-item
							+icon('rocketbox').s9__conditions-icon
							.s9__conditions-text Время на #[span.s9__conditions-text--underline запуск 5 дней] после оплаты
						.s9__conditions-item
							+icon('complock').s9__conditions-icon
							.s9__conditions-text #[span.s9__conditions-text--underline Все материалы остаются] у вас 

		section.s10 
			.s10__ctn.container 
				h2.s10__title #[span.s10__title--gradient 5 простых шагов для начала сотрудничества] и получения заявок в ваш проект #[span.s10__title--underline уже через 7 дней]

				.s10__items-block
					.s10__item
						.s10__item-number 01
						.s10__item-text Оставьте заявку на сайте
					.s10__item
						.s10__item-number 02
						.s10__item-text Я вам перезваниваю и задаю небольшой список вопросов по вашему бизнесу, чтобы выяснить все потребности и понять, насколько все реализуемо
					.s10__item
						.s10__item-number 03
						.s10__item-text На следующий день мы созваниваемся, и я презентую предложение решения вашей задачи
					.s10__item
						.s10__item-number 04
						.s10__item-text Определяемся с бюджетом, сроками и другими условиями сотрудничества
					.s10__item
						.s10__item-number 05
						.s10__item-text Подписываем договор, вы проводите оплату, и мы начинаем работать
		.footbg
			.footbg__bg
				+picture(jpg, `${assets}s11_footer-bg`, 'xsmlb')
			section.s11 
				.s11__ctn.container 
					h2.s11__title Часто задаваемые вопросы

					ul.s11__tabs(data-uk-accordion)
						li.s11__tab-item 
							a.s11__tab-title.uk-accordion-title(href="#") С какими нишами я работаю?
								+icon('plus').s11__tab-plus
							.s11__tab-content.uk-accordion-content Я вам перезваниваю и задаю небольшой список вопросов по вашему бизнесу, чтобы выяснить все потребности и понять, насколько все реализуемо
						li.s11__tab-item 
							a.s11__tab-title.uk-accordion-title(href="#") Заключается ли договор?
								+icon('plus').s11__tab-plus
							.s11__tab-content.uk-accordion-content Я вам перезваниваю и задаю небольшой список вопросов по вашему бизнесу, чтобы выяснить все потребности и понять, насколько все реализуемо
						li.s11__tab-item 
							a.s11__tab-title.uk-accordion-title(href="#") Как устроена оплата?
								+icon('plus').s11__tab-plus
							.s11__tab-content.uk-accordion-content Я вам перезваниваю и задаю небольшой список вопросов по вашему бизнесу, чтобы выяснить все потребности и понять, насколько все реализуемо
						li.s11__tab-item 
							a.s11__tab-title.uk-accordion-title(href="#") Какой нужен бюджет на рекламную кампанию?
								+icon('plus').s11__tab-plus
							.s11__tab-content.uk-accordion-content Я вам перезваниваю и задаю небольшой список вопросов по вашему бизнесу, чтобы выяснить все потребности и понять, насколько все реализуемо
						li.s11__tab-item 
							a.s11__tab-title.uk-accordion-title(href="#") Почему другие таргетологи ставят цену ниже?
								+icon('plus').s11__tab-plus
							.s11__tab-content.uk-accordion-content Я вам перезваниваю и задаю небольшой список вопросов по вашему бизнесу, чтобы выяснить все потребности и понять, насколько все реализуемо

			section.s12
				.s12__ctn.container 
					h2.s12__title Обсудим ваш проект?
					p.s12__subtitle Закажите бесплатный аудит, в&nbsp;котором вы получите решение для&nbsp;конкретно вашей задачи

					.s12__form-wrap
						//- тут подложку на адптиве
						form.s12__form
							p.s12__form-title Заполните форму и&nbsp;я&nbsp;свяжусь с вами

							.s12__form-input-wrap.input-wrap 
								label.input-label(for="#s12-input-name") Введите ваше имя
								input.s12__form-input.input(id="s12-input-name" type="text" name="Имя")

							.s12__form-input-wrap.input-wrap 
								label.input-label(for="#s12-input-tel") Введите ваш номер телефона
								input.s12__form-input.input(id="s12-input-tel" type="tel" name="Телефон")
							
							.s12__form-submit-block
								button.s12__form-submit-btn.btn.btn-solid-primary(type="submit") Отправить заявку
								.s12__form-submit-agreement Нажимая кнопку вы принимаете #[a(href=privacyLink) условия обработки информации]

					.s12__contacts
						.s12__contacts-title Остались #[br]вопросы?
						.s12__contacts-subtitle Свяжитесь со мной удобным для вас способом:

						.s12__contacts-social-links
							a(href=waLink, target="_blank", rel="noopener noreferrer"): +icon('wa')
							a(href=tgLink, target="_blank", rel="noopener noreferrer"): +icon('tg')
							a(href=instLink, target="_blank", rel="noopener noreferrer"): +icon('inst')

						button.s12__contacts-btn.btn.btn-outline-primary Обратный звонок

			footer.footer 
				.footer__ctn.container 
					.footer__logo: +icon('logo').footer__logo-icon
					.footer__policy
						a(href=privacyLink).footer__policy-link Политика конфиденциальности
						p.footer__policy-rights © 2021 Все права защищены.





